div.footer {
    background-color: #cc0000;
    width: 100vw;
    color:#fccf00;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 1%;
    position: absolute;
    bottom: -60px;
}

div.footer p {
    margin-bottom:0;
    font-size: 1rem;
    text-shadow: -1px -1px 0 #2468b1, 1px -1px 0 #2468b1, -1px 1px 0 #2468b1, 1px 1px 0 #2468b1;

}